/* Common styles for both desktop and mobile */
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}

.top {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.top h3 span {
  color: gold;
}

.container {
  background-color: white;
  height: 30rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  box-shadow: inset;
  flex-direction: column;
  border-radius: 1rem;
  padding: 3rem 3rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

form input {
  padding: 10px 10px;
  margin-top: 0.2rem;
}

form label {
  font-size: large;
  font-weight: 600;
}

form button {
  padding: 10px 15px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: medium;
  margin-top: 1rem;
  border: 2px solid black;
  transition: 8ms;
}

form button:hover {
  background-color: white;
  color: green;
  scale: 0.95;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
  color: white;
  text-align: center;
}

.modal video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.modal p {
  margin-top: 10px;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 1rem;
  }

  form button {
    font-size: 14px;
  }
}
/* Add this to App.css */
.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.icon {
  font-size: 2em; /* Adjust the size as needed */
  margin: 0 10px;
  color: #333; /* Adjust the color as needed */
  transition: color 0.3s ease-in-out;
}

.icon:hover {
  color: #007bff; /* Adjust the hover color as needed */
}
